figure {
    width: 200px;
    height: 200px;

    img {
        width: 100%;
    }
}

.avantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}