@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    font-family: 'Lexend Deca', sans-serif;
}



h1 {
    text-align: center;
}

/* Navigation */
.nav-link {
    color: white;
}
/* Présentation */
.presentation {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
/* Pourquoi nos produits ? */
figure {
    width: 100px;
    height: 100px;

    img {
        width: 100%;
    }
}

/* Footer */
footer {
    color: white;
}
footer ul li {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
}


footer h3 {
    border-left: 5px solid rgb(203, 206, 29);
}

.quicklink
.quicklink li a {
    text-decoration: none;
    color: white;
}
/* Fin */
